<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../static/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <script src="../../static/js/script.js"></script>

    <title>BetParser</title>
</head>
<body>
    <header class="bet-parser-header">
        <div class="bet-parser-logo">BetParser</div>
        <nav class="bet-parser-navigation">
            <ul class="header-nav-list">
                <li>
                    <a class="header-nav-link" href="#">Настольный теннис</a>
                </li>
                <li>
                    <a class="header-nav-link" href="#">Теннис</a>
                </li>
                <li>
                    <a class="header-nav-link" href="#">Баскетбол</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="bet-parser-main"></main>
    <footer class="bet-parser-footer"></footer>
</body>
</html>